* {
	padding: 0;
	margin: 0;
}
h1{
				color: darkred;
}
h2{
				color: violet;
}
h3{
				color: sandybrown;
}
#hung1 {
	background-color: #abdbe3;
    text-align: center;
    padding: 90px 80px 90px 80px;
}
#Contact{
	background-color: #00001a;
	padding: 90px 80px 90px 80px;
}
#Education{
	background-color: #ffff00;
	text-align: center;
	 		padding: 90px 80px 90px 80px;

}
<ul> {
	padding: 100px;
}
