*{
	padding: 5px;
	margin: 0px;
}

h1{
	background-color: #1EC7C7;
	text-align: center;
	padding: 90px;
}
h2{
	background-color: #B1CFA9;
	text-align: 40px;
}
h3{
	background-color: #CCC4C8;
	text-decoration: inherit;
	text-align: 40px;
}
#Contact{
	padding: 60px;
	background-color: 	#99CCFF;
}
#Education{
	padding: 60px;
	background-color: CCFFFF;
}
#Profile{
	padding: 60px;
	background-color: rebeccapurple;
	text-align-last: start;
}
nav {
	background-color: black;
	padding: 10px 20px;
	text-align: center;
}
nav a {
	color: white;
	padding: 14px 20px;
}
nav a:hover {
	background-color: #E8E40C;
}